<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <filter>
    <filter-name>visitFilter</filter-name>
    <filter-class>VisitFilter</filter-class>
    <init-param>
    <param-name>Site</param-name>
    <param-value>filter测试</param-value>
    </init-param>
    </filter>

    <filter-mapping>
    <filter-name>visitFilter</filter-name>
    <url-pattern>/*</url-pattern>
    </filter-mapping>



</web-app>
